.MainPageHeader {
  margin-bottom: 20px;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 26px;

  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__left {
    display: flex;
    flex-direction: column;

    button {
      width: fit-content;
      &:first-of-type {
        padding-top: 12px;
        margin-right: 2 0px;
      }
    }
  }

  &__createBlock {
    display: flex;
    align-items: center;
  }

  &__sort {
    margin-right: 26px;
  }

  &__grid {
    *{
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
}

.upload {

  &__label {
    cursor: pointer;
    margin-left: 20px;
  }

  &__input {
    display: none;
  }
}
