.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
  padding: 10px 20px;
}

.default {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid transparent;
}

.disabled {
  opacity: 0.5;
}

.outlined {
  background: none;
  outline: none;
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
}

.solid {
  background-color: var(--inverted-primary-color);
  color: var(--primary-color);
  border: none;
  outline: none;
}

.hovered {
  &:hover {
    border-color: var(--inverted-primary-color);
  }
}

.rounded {
  border: 1px solid var(--inverted-primary-color);
  border-radius: 37px;
}
