.app_dark_theme {
  --bg-color: #133644;
  --inverted-bg-color: #9d9d9d;
  --primary-color: #001b91;
  --secondary-color: #000769;
  --inverted-primary-color: #566885;
  --inverted-secondary-color: #7e95b7;
}
