.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;

  h4 {
    font-size: 24px;
    color: var(--bg-color)
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-left: 20px;

  }
}
