.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;

  h4 {
    font-size: 24px;
    color: var(--primary-color)
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 20px;
    font-weight: bold;
    &:hover {
      border-bottom: 1px solid var(--primary-color);
    }
  }

  &__theme {
    padding-left: 20px;
    border-left: 1px solid var(--primary-color);
  }
}
